:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --hover-color: #2196f3;
	--primary-hover-color: #188CE8;
  --contacts-color: #757575;
  --border-color: #ececec;
  --primary-border-color: #eeeeee;
  --primary-bg-color: #f5f4fa;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-shadow-color: rgba(0, 0, 0, 0.15);
	--clients-border-color: #AFB1B8;
	--social-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: Roboto, Arial, Verdana sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}



img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
	/* background-color: tomato; */
}

.list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  display: none;
}

/* Container */

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.site-header {
  border-bottom: 1px var(--border-color) solid;
}

/* Logo */

.logo {
  font-weight: 700;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  color: var(--main-text-color);
  text-decoration: none;
  margin-right: 93px;
  display: flex;
}

.logo.secondary {
	color: var(--hover-color);
	margin-right: 0px;
}

.logo.footer {
	color: var(--secondary-text-color);
  margin-right: 0;
	display: block;
}

.logo-footer.secondary {
  color: var(--hover-color);
  margin-right: 0px;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color);
}

.site-nav .link.current {
  color: var(--hover-color);
}

.site-current {
  color: var(--hover-color);
}

/* Contacts */

.site-contacts,
.basement {
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
}

.site-contacts .item:not(:first-child) {
  margin-left: 30px;
}

.site-contacts.list {
  margin-left: auto;
}

.site-contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  display: flex;
	align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--contacts-color);
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}

.contact-icon {
	margin-right: 10px;
}

.contact .icon {
	fill: currentColor;
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
	background-image: linear-gradient( 
		to right,
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)
		),
		url(../images/bg-hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}

.hero-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.9;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--hover-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border-style: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--primary-shadow-color);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--primary-hover-color);
}

/* Features */

.features {
  display: flex;
}

.feature {
  width: 270px;
  margin-right: 30px;
}

.feature:last-child {
  margin-right: 0px;
}

.feature-box {
	border-radius: 4px;
	padding: 25px 100px;
	background-color: var(--primary-bg-color);
}

.company-features h3 {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.company-features p {
  margin-top: 10px;
  line-height: 1.7;
  color: var(--contacts-color);
}

/* Work */

.site-work {
	padding-top: 0px;
}

.site-work h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.work-list .work {
  display: flex;
  margin-top: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.team {
  margin-top: 50px;
  display: flex;
}

.team-card {
  text-align: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px var(--primary-shadow-color),
    0px 1px 1px var(--primary-shadow-color),
    0px 2px 1px var(--primary-shadow-color);
  border-radius: 0px 0px 4px 4px;
}

.team-card .card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .card-content h3,
.team .card-content p {
  font-size: 16px;
  line-height: 1.2;
}

.team .card-content h3 {
  margin-bottom: 10px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.company-team {
  background-color: var(--primary-bg-color);
}

.company-team h3 {
  font-weight: 500;
}

.company-team p {
  color: var(--contacts-color);
}

.company-team h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

.social-links {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-top: 16px;
}

.social-links .item:not(:last-child) {
	margin-right: 10px;
}

.team-card .social-box {
	padding: 12px ;
	border-radius: 50%;
	color: var(--clients-border-color);
}

.social-box:hover,
.social-box:focus {
	background-color: var(--hover-color);
	color: var(--secondary-text-color);
}

.social-box .icon {
	fill: currentColor;
}

/* Clients */

.site-clients .title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 50px;
}

.clients {
	display: flex;
}

.client-link {
	color: var(--clients-border-color);
	display: flex;
	border: 1px solid var(--clients-border-color);
	border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
	color: var(--hover-color);
	border-color: var(--hover-color);
}

.clients .item:not(:last-child) {
	margin-right: 30px;
}

.client-box {
	padding: 16px 32px;
}

.client-box .icon {
	fill: currentColor;
}

/* Adress */

.basement {
  margin-top: 20px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: block;
	/* outline: 1px solid green; */
}

.contacts-footer {
	margin-right: 70px	;
}

.socials-footer {
	padding-top: 12px;
	padding-bottom: 40px;
	/* outline: 1px solid tomato; */
}

.socials-footer h3 {
	color: var(--secondary-text-color);
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
}

.social-box {
	background-color: var(--social-bg-color);
	padding: 12px;
	border-radius: 50%;
}

.social-box:hover,
.social-box:focus {
	background-color: var(--hover-color);
}

.socials-footer .icon {
	color: var(--secondary-text-color);
}

.basement-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-basement.address {
  color: var(--secondary-text-color);
}

.contact-basement.address:hover,
.contact-basement.address:focus {
  color: var(--hover-color);
}

.contact-basement:hover,
.contact-basement:focus {
  color: var(--hover-color);
}

.contact-basement {
  text-decoration: none;
  color: var(--contacts-color);
}

.site-footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-footer {
	display: flex;
}

/* Filter */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter button:hover,
.filter button:focus {
  box-shadow: 0px 3px 1px var(--shadow-color), 
	0px 1px 2px var(--shadow-color),
  0px 2px 2px var(--shadow-color);
  background-color: var(--hover-color);
  color: var(--secondary-text-color);
}

.filter button {
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--primary-bg-color);
}

/* Portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio a {
  text-decoration: none;
}

.portfolio h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio p {
  font-size: 16px;
  margin-top: 4px;
  line-height: 1.8;
  color: var(--contacts-color);
}

/* Portfolio cards */

.card-thumb a {
  padding-bottom: 110px;
}

.portfolio .card-content {
  padding: 20px 24px;
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.portfolio .item:hover {
	box-shadow: 0px 1px 1px var(--primary-shadow-color), 
	0px 4px 4px var(--shadow-color), 
	1px 4px 6px var(--primary-shadow-color);
}